{% extends 'base.html' %}
{% block container %}
<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Party Party</title>
        <link rel = "Stylesheet" href = "./goods_detail.css">
    </head>
    <body>
        <main>
            <div class = "profile"></div>
            <div class = "section_info">
                <div class = "product_name">제품명</div>
                <div class = "writer">작성자</div>
                <div class = "like">♡</div>
                <div class = "alarm">알람기능</div>
            </div>

            <div class = "section_title">
                <button class = "needs">수요조사폼</button>
                <button class = "deposit">입금폼</button>
                <button class = "notice">공지사항</button>
            </div>

            <div class = "section"></div>

        </main>
    </body>
</html>
{% endblock %}