{% extends 'base.html' %}
{% block container %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="{% static 'write_semigoods.css' %}">
    <title>write-choices</title>
</head>

<body>

    <h2>수요조사폼 작성하기</h2>
    <div>
        <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="title">
            <input type="text" name="content">
            <input type="file" name="imgs" multiple>
            <input type="submit" value="작성하기">
        </form>
        <form action="{%url 'create'%}" method="POST" enctype="multipart/form-data" onsubmit="return chk();">
            {%csrf_token%}
            <div>
                <input type="text" name="title" id="title" placeholder="제목을 입력하세요."
                    style="width:800px; height:70px; font-size:30px;">
            </div>
            <div></div>
            사진 추가: <input type="file" name="image">
            <br><br>
            <textarea name="body" cols="100" id="body" placeholder="당신만의 기발한 아이디어를 공유해보세요!" rows="16"
                style="font-size:20px;"></textarea>
            <p></p>
            <input type="submit"></input>
            <br><br><br>
        </form>
    </div>
    </div>

</body>

</html>

{% endblock %}