{% extends 'base.html' %}
{% block container %}
{% load static %}

<head>
    <title>Write choice</title>
    <link rel="Stylesheet" href="{% static 'write_choices.css' %}">

</head>
<main>
    <section>글 작성하기</section>
    <section>
        <br><br><div class='btn'><a href="{% url 'write_semigoods' %}">수요조사 폼 작성하기</a></div>
        <div></div>
        <br><br><div class='btn'><a href="{% url 'write_goods' %}">입금 폼 작성하기</a></div>
        <div></div>
        
    </section>

   

</main>


{% endblock %}