<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
        <link href='http://www.openhiun.com/hangul/nanumbarungothic.css' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css'>
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static 'base.css' %}" />
        
    </head>

    <body>
        <header>
            <div class = "logo">partyparty</div>
    
            <input type = "text" name = "search" placeholder = "search">
            <img src = "{% static 'search.png' %}" class = "icon_img">
            <img src = "{% static 'profile_standard.png' %}" class = "profile">
            <div class = "login">로그인/회원가입</div>
            <img src = "{% static 'menu.png' %}" class = "menu">
        </header>

        {% block container %}
        {% endblock %}


        <footer>
            <div class = "about">
                상호명: partyparty<br>
                djWjrnwjWjrn<br>
                qmffkqmffkqmffk<br>
                dndpddndpddndpd<br>
            </div>
            <div class = "sns">
                <img src = "./menu.png">
                <img src = "./menu.png">
                <img src = "./menu.png">
            </div>
            <div class = "contact">
                고객센터: 어쩌고저쩌고<br>
                주소 : 서울특별시 성북구 정릉동<br>
                기간 : 안에 다할수잇겠지..ㅜㅜ
            </div>
        </footer>
    </body>
</html>