main {
    width : 75vw;
    background-color: white;
    height: 100vh;
    margin: 0 auto;
    padding-top: 60px;
}

section {
    font-family: 'KoPub Dotum'; 
    font-size: 80px; 
    color: black;
}

section div{
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 23px;
    color: black;
}


a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

.btn {
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    color: #000000;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 40px;
    border: solid #98fb98 2px;
    background-color: cornsilk;
    padding: 100px 80px 100px 80px;
    text-decoration: none;
    margin: 30px;
    
}

.btn:hover {
  background: #98fb98;
  text-decoration: none;
}



