input[type="submit"] {
    font-size: 30px;
    border: 0px solid;
    background: #2691d9;
    border-radius: 10px;
    color: #e9f4fb;
    font-weight: 400;
    outline: none;
}

input[type="text"] {
    font-size: 18px;
    border: 0px solid;
    background-color: #e9f4fb;
    border-radius: 4px;
    font-weight: 400;
    outline: none;
}

textarea {
    font-size: 18px;
    border: 0px solid;
    background-color: #e9f4fb;
    border-radius: 10px;
    font-weight: 400;
    outline: none;
}

.line {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #0FBCFF;
    height: 1px;
    width: 60%;
}
h2 {
    font-family: 'KoPub Dotum'; 
    font-size: 80px; 
    color: black;
}
    
    <div class="writing page" style="text-align: center;">
    <form action="{%url 'create'%}" method="POST" enctype="multipart/form-data" onsubmit="return chk();">
        {%csrf_token%}
        <div class="title">
            <input type="text" name="title" id="title" placeholder="제목을 입력하세요." style="width:800px; height:70px; font-size:30px;">
        </div>
        <div class="line"></div>
        사진 추가: <input type="file" name="image">
        <br><br>
        <textarea name="body" cols="100" id="body"placeholder="당신만의 기발한 아이디어를 공유해보세요!" rows="16" style="font-size:20px;"></textarea>
        <p></p>
            <input type="submit"></input>
            <br><br><br>
    </form>
    </div>
    </div>
</body>
</html>
{% endblock %}
